<nav class="navbar navast">
  <div class="container">
    <input type="text" class="main-search" placeholder="Search..." />
    <button type="submit" class="buttonsearch">
      <div class="searchicon"></div>
    </button>
  </div>
  <ul>
    <li><a href="/" class="active nav-a">Home</a></li>
    <li><a href="#" class="nav-a">Shop</a></li>
    <li><a href="#" class="nav-a">Carrinho</a></li>
    <li><a href="#" class="nav-a">Categorias</a></li>
    <li><a href="#" class="nav-a">
      <svg fill="#000000" height="15px" width="15px" version="1.1" id="XMLID_269_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" xml:space="preserve">
        <g id="shop-cart">
          <g>
            <circle cx="9" cy="21" r="2"/>
          </g>
          <g>
            <circle cx="19" cy="21" r="2"/>
          </g>
          <g>
            <path d="M21,18H7.2l-4-16H0V0h4.8l0.8,3H24l-3.2,11H8.3l0.5,2H21V18z M7.8,12h11.5l2-7H6L7.8,12z"/>
          </g>
        </g>
      </svg>
    </a></li>
  
    <!-- Mostrar links de login e registro apenas se não estiver logado -->
    @if (!isLoggedIn) {
      <li><a href="#" class="nav-a">Register</a></li>
      <li><a href="/login" class="nav-a">Login</a></li>
    }
  
    <!-- Mostrar usuário e menu de logout se estiver logado -->
    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      @if (isLoggedIn) {
        <button type="button" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
          <span class="sr-only">Open user menu</span>
          <img class="w-11 h-8 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-3.jpg" alt="user photo">
        </button>
        <!-- Dropdown menu -->
        <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
          <div class="px-4 py-3">
            <span class="block text-sm text-gray-900 dark:text-white tm">Bonnie Green</span>
            <span class="block text-sm text-gray-500 truncate dark:text-gray-400 tm-2">name.com</span>
          </div>
          <ul class="py-2" aria-labelledby="user-menu-button user">
            <li><a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white user">Settings</a></li>
            <li><a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white deslog" (click)="logout()">Sign out</a></li>
          </ul>
        </div>
      } @else {
        <a href="/login" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</a>
      }
    </div>
  </ul>
</nav>
