/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: var(--background);
}

:root {
    --background: #fffce9;
    --font-preta: #000;
    --font-verde: #7bba83;
    --primaryone: #b1bec6;
    --primarytwo: #5f8fa4;
    --primarythree: #ff5252;
    --primaryfour: #43b3e7;
}