<nav class="bg-white dark:bg-white-800 antialiased">
  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0 py-4">
    <div class="flex items-center justify-between">

      <div class="flex items-center space-x-8">
        <div class="shrink-0">
          <form class="relative">
            <label for="search-input" class="sr-only">Search</label>
            <input 
                id="search-input" 
                type="text" 
                placeholder="Search..." 
                class="block w-full lg:w-64 px-4 py-2 text-sm text-black-900 bg-black-50 border border-black-200 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-black-700 dark:border-black-600 dark:placeholder-black-400 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500"
            />
            <button type="submit" class="absolute top-1/2 right-2 transform -translate-y-1/2 text-black-500 dark:text-black-400 hover:text-primary-700 dark:hover:text-primary-500 ml-1">
                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 1 0-14 0 7 7 0 0 0 14 0z" />
                </svg>
            </button>
        </form>
        </div>

        <ul class="hidden lg:flex items-center justify-start gap-6 md:gap-8 py-3 sm:justify-center">
          <li>
            <a routerLink="/" routerLinkActive="active" title=""
              class="flex text-sm font-medium text-white-900 hover:text-primary-700 dark:text-black dark:hover:text-primary-500">
              Home
            </a>
          </li>
          <li class="shrink-0">
            <a routerLink="/shop" routerLinkActive="active" title=""
              class="flex text-sm font-medium text-white-900 hover:text-primary-700 dark:text-black dark:hover:text-primary-500">
              Shop
            </a>
          </li>
          <li class="relative shrink-0">
            <!-- Botão do Dropdown -->
            <button (click)="toggleDropdownCateg($event)" title="Categorias"
              class="flex items-center text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-black dark:hover:text-primary-500 focus:outline-none">
              Categorias
              <!-- Ícone de seta -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="ml-1 w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </button>

            <!-- Dropdown Menu -->
            <div class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg dark:bg-gray-800 z-20"
              [ngClass]="{ 'hidden': !isDropdownOpen }">
              <a href="#"
                class="block px-4 py-2 text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">
                Categoria 1
              </a>
              <a href="#"
                class="block px-4 py-2 text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">
                Categoria 2
              </a>
              <a href="#"
                class="block px-4 py-2 text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">
                Categoria 3
              </a>
            </div>
          </li>
        </ul>
      </div>

      <div class="flex items-center lg:space-x-2">

        <button id="myCartDropdownButton1" data-dropdown-toggle="myCartDropdown1" type="button"
          class="inline-flex items-center rounded-lg justify-center p-2 hover:bg-white-100 dark:hover:bg-white-700 text-sm font-medium leading-none text-white-900 dark:text-black">
          <span class="sr-only">
            Cart
          </span>
          <svg class="w-5 h-5 lg:me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312" />
          </svg>
          <span class="hidden sm:flex">Meu Carrinho</span>
          <svg class="hidden sm:flex w-4 h-4 text-white-900 dark:text-black ms-1" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m19 9-7 7-7-7" />
          </svg>
        </button>

        <div id="myCartDropdown1"
          class="hidden z-10 mx-auto max-w-sm space-y-4 overflow-hidden rounded-lg bg-white p-4 antialiased shadow-lg dark:bg-white-800">
          <div class="grid grid-cols-2">
            <div>
              <a href="#"
                class="truncate text-sm font-semibold leading-none text-white-900 dark:text-black hover:underline">Apple
                iPhone 15</a>
              <p class="mt-0.5 truncate text-sm font-normal text-white-500 dark:text-white-400">$599</p>
            </div>

            <div class="flex items-center justify-end gap-6">
              <p class="text-sm font-normal leading-none text-white-500 dark:text-white-400">Qty: 1</p>

              <button data-tooltip-target="tooltipRemoveItem1a" type="button"
                class="text-red-600 hover:text-red-700 dark:text-red-500 dark:hover:text-red-600">
                <span class="sr-only"> Remove </span>
                <svg class="h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                  viewBox="0 0 24 24">
                  <path fill-rule="evenodd"
                    d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm7.7-3.7a1 1 0 0 0-1.4 1.4l2.3 2.3-2.3 2.3a1 1 0 1 0 1.4 1.4l2.3-2.3 2.3 2.3a1 1 0 0 0 1.4-1.4L13.4 12l2.3-2.3a1 1 0 0 0-1.4-1.4L12 10.6 9.7 8.3Z"
                    clip-rule="evenodd" />
                </svg>
              </button>
              <div id="tooltipRemoveItem1a" role="tooltip"
                class="tooltip invisible absolute z-10 inline-block rounded-lg bg-white-900 px-3 py-2 text-sm font-medium text-black opacity-0 shadow-sm transition-opacity duration-300 dark:bg-white-700">
                Remove item
                <div class="tooltip-arrow" data-popper-arrow></div>
              </div>
            </div>
          </div>

          <a href="#" title=""
            class="mb-2 me-2 inline-flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-black hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
            role="button"> Proceed to Checkout </a>
        </div>

        <button id="userDropdownButton1" data-dropdown-toggle="userDropdown1" type="button"
          class="inline-flex items-center rounded-lg justify-center p-2 hover:bg-white-100 dark:hover:bg-white-700 text-sm font-medium leading-none text-white-900 dark:text-black">
          <svg class="w-5 h-5 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-width="2"
              d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
          </svg>
          Conta
          <svg class="w-4 h-4 text-white-900 dark:text-black ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m19 9-7 7-7-7" />
          </svg>
        </button>

        <div id="userDropdown1"
          class="hidden z-10 w-56 divide-y divide-white-100 overflow-hidden overflow-y-auto rounded-lg bg-white antialiased shadow dark:divide-white-600 dark:bg-white-700">
          <ul class="p-2 text-start text-sm font-medium text-white-900 dark:text-black">
            <li><a href="#" title=""
                class="inline-flex w-full items-center gap-2 rounded-md px-3 py-2 text-sm hover:bg-white-100 dark:hover:bg-white-600">
                My Account </a></li>
            <li><a href="#" title=""
                class="inline-flex w-full items-center gap-2 rounded-md px-3 py-2 text-sm hover:bg-white-100 dark:hover:bg-white-600">
                My Orders </a></li>
          </ul>

          <div class="p-2 text-sm font-medium text-white-900 dark:text-black">
            <a href="#" title=""
              class="inline-flex w-full items-center gap-2 rounded-md px-3 py-2 text-sm hover:bg-white-100 dark:hover:bg-white-600">
              Sign Out </a>
          </div>
        </div>

        <button type="button" data-collapse-toggle="ecommerce-navbar-menu-1" aria-controls="ecommerce-navbar-menu-1"
          aria-expanded="false"
          class="inline-flex lg:hidden items-center justify-center hover:bg-white-100 rounded-md dark:hover:bg-white-700 p-2 text-white-900 dark:text-black">
          <span class="sr-only">
            Open Menu
          </span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
            viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14" />
          </svg>
        </button>
      </div>
    </div>

    <!-- MENU RESPONSIVO -->
    <div id="ecommerce-navbar-menu-1"
      class="bg-white-50 dark:bg-white-700 dark:border-white-600 border border-white-200 rounded-lg py-3 hidden px-4 mt-4">
      <ul class="text-gray-900 dark:text-black text-sm font-medium dark:text-black space-y-3">
        <li>
          <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500">Home</a>
        </li>
        <li>
          <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500">Best Sellers</a>
        </li>
        <li>
          <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500">Gift Ideas</a>
        </li>
        <li>
          <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500">Games</a>
        </li>
        <li>
          <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500">Electronics</a>
        </li>
        <li>
          <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500">Home & Garden</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<img class="h-auto max-w-full mb-10 shadow" src="/7099.JPG" alt="image description">