<div class="text-center mb-10 mt-10 titulo">
    <h2 class="shadow-below text-2xl">Produtos Mais Vendidos</h2>
</div>
<div class="flex justify-center space-x-2 fundo">
    <div *ngFor="let prod of produtos" class="w-full max-w-[20rem] bg-white border border-gray-200 rounded-lg light:bg-gray-800 light:border-gray-700">
        <a href="#">
            <img class="p-1 rounded-t-lg w-26 h-26 object-cover mx-auto" [src]="prod.imagem" [alt]="prod.nome" />
        </a>
        <div class="px-1 pb-2">
            <a href="#">
                <h5 class="text-[20px] font-semibold tracking-tight text-gray-900 light:text-white">
                    {{ prod.nome }}
                </h5>
            </a>
            <div class="flex items-center mt-1 mb-2">
                <div class="flex items-center space-x-0.5 rtl:space-x-reverse">
                    <svg *ngFor="let star of getStars(prod.avaliacao)" 
                         class="w-2.5 h-2.5" 
                         [ngClass]="{'text-yellow-300': star >= 1, 'text-gray-300': star < 1}"
                         xmlns="http://www.w3.org/2000/svg" 
                         fill="currentColor" 
                         viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                </div>
                <span class="bg-blue-100 text-blue-800 text-[10px] font-semibold px-1 py-0.5 rounded light:bg-blue-200 light:text-blue-800 ms-1">
                    {{ prod.avaliacao }}
                </span>
            </div>
            <div class="flex items-center justify-between">
                <span class="text-[17px] font-bold text-gray-900 light:text-white">{{ prod.preco | currency:'BRL':'symbol':'1.2-2' }}</span>
                <button
                    class=" bg-white-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-[15px] px-2 py-1 text-center light:bg-blue-600 light:hover:bg-blue-700 light:focus:ring-blue-800 bordas mr-2">
                    <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <style>.cls-1{fill:none;stroke:#020202;stroke-miterlimit:10;stroke-width:1.91px;}</style>
                        </defs>
                        <g id="cart">
                            <circle class="cls-1" cx="10.07" cy="20.59" r="1.91"/>
                            <circle class="cls-1" cx="18.66" cy="20.59" r="1.91"/>
                            <path class="cls-1" d="M.52,1.5H3.18a2.87,2.87,0,0,1,2.74,2L9.11,13.91H8.64A2.39,2.39,0,0,0,6.25,16.3h0a2.39,2.39,0,0,0,2.39,2.38h10"/>
                            <polyline class="cls-1" points="7.21 5.32 22.48 5.32 22.48 7.23 20.57 13.91 9.11 13.91"/>
                        </g>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
