@import url('../../../styles.css');

.fundo {
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid rgb(124, 124, 124);
}

.fundo-2 {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.titulo {
    margin-top: 60px;
    margin-bottom: 40px;
}

.titulo h2 {
    font-family: "Rancho", serif;
    font-size: 40px;
}

.shadow-below {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.titutlo p {
    font-family: "Roboto Condensed", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 5px;
}

.div-home{
    /* ATERAR DEPOIS*/
    margin: 5px;
    margin-bottom: 50px;
}

.borda{
    border: 1px solid rgb(124, 124, 124);
    border-radius: 10px;
}