@if (cart.length > 0) {
    @for (item of cart; track item.id) {
    <p> {{ item.quantity }}</p>
    <p> {{ item.unitPrice }}</p>
    <p> {{ item.totalPrice }}</p>
    <input type="number" id="counter-input" data-input-counter
        min="1" [(ngModel)]="item.quantity" (ngModelChange)="updateQuantity(item.product.id, $event)" required />
    <p> {{ item.product.productName }}</p>
    <p> {{ item.product.description }}</p>
    <p> {{ item.product.price }}</p>
    <p> {{ item.product.quantity }}</p>
    }
    <button (click)="buyItems()"> Comprar </button>
    } @else {
    <p>Seu carrinho está vazio</p>
    }
    <p class="text-red-700"> 
        O que resta? <br>
         - Mostrar o valor total do carrinho, arrumar o remover item
    </p>
    