@import url('../../../styles.css');

.h-screen{
    height: 100vh;
}

.w-full{
    width: 500px;
}

.max-w-lg{
    max-width: 40rem;
}

.tamanho{
    width: 150px;
    border: 2px solid var(--font-verde);
    background-color: transparent;
    color: var(--font-preta);
}

.hover\:bg-blue-800:hover{
    background-color: var(--font-verde);
    color: var(--background);
}

.bordas{
    border-radius: 50px;
    border: 2px solid var(--font-verde);
}

.text-sm {
    font-family: "Rancho", serif;
    font-weight: 400;
    font-size: 1.10rem;
}

.text-sm {
    line-height: 1.10rem;
}

.position-title{
    font-family: "Rancho", serif;
    text-align: center;
    padding: 0px 0px 40px 0px;
}

.position-title h2{
    font-size: 64px;
}

.position-title h4{
    font-size: 40px;
}

.mb-5 input{
    font-size: 20px;
}

.p-2\.5 {
    padding: 0.425rem;
}