.tam-w {
    width: 50px;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Remove as setinhas no Firefox */
    -webkit-appearance: none;
    /* Remove as setinhas no Chrome, Safari, Edge */
    appearance: none;
    /* Remove as setinhas em navegadores que suportam */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* Remove as setinhas no Chrome e Safari */
    margin: 0;
    /* Evita possíveis margens */
}

.titulo h2 {
    font-family: "Rancho", serif;
    font-size: 40px;
}

.shadow-below {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.titutlo p {
    font-family: "Roboto Condensed", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 5px;
}
