.card {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .footer-content {
    display: flex; /* Alinha os elementos lado a lado */
    justify-content: space-between; /* Espalha os itens com espaço entre eles */
    align-items: center; /* Alinha os itens no centro verticalmente */
  }
  
  .footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Torna a lista horizontal */
  }
  
  .footer-item {
    margin-left: 20px; /* Espaço entre os itens da lista */
    text-decoration: none;
    color: #333;
  }
  
  .footer-item:hover {
    text-decoration: underline; /* Efeito hover */
  }
  