<div class="border-1 margem borda-org flex items-center">
  <h3>Ordem, A - Z</h3>
  <svg class="w-4 h-4 text-gray-800 dark:text-black ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
    width="24" height="24" fill="none" viewBox="0 0 24 24">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      d="M8 20V7m0 13-4-4m4 4 4-4m4-12v13m0-13 4 4m-4-4-4 4" />
  </svg>
</div>
<app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)">
</app-pagination>
<div class="grid grid-cols-5 gap-4 fundo-2">
  <div *ngFor="let prod of paginatedProdutos"
    class="w-full bg-white rounded-lg light:bg-gray-800 light:border-gray-700 borda shadow">
    <a routerLink="/produto/{{ prod.id }}" routerLinkActive="active">
      <img class="p-1 rounded-t-lg w-26 h-26 object-cover mx-auto" [src]="prod.imagem" [alt]="prod.nome" />
    </a>
    <div class="px-1 pb-2">
      <a href="#">
        <h5 class="text-[20px] font-semibold tracking-tight text-gray-900 light:text-white">
          {{ prod.nome }}
        </h5>
      </a>
      <div class="flex items-center mt-1 mb-2">
        <div class="flex items-center space-x-0.5 rtl:space-x-reverse">
          <svg *ngFor="let star of getStars(prod.avaliacao)" class="w-2.5 h-2.5"
            [ngClass]="{'text-yellow-300': star >= 1, 'text-gray-300': star < 1}" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 22 20">
            <path
              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
          </svg>
        </div>
        <span
          class="bg-blue-100 text-blue-800 text-[10px] font-semibold px-1 py-0.5 rounded light:bg-blue-200 light:text-blue-800 ms-1">
          {{ prod.avaliacao }}
        </span>
      </div>
      <div class="flex items-center justify-between">
        <span class="text-[17px] font-bold text-gray-900 light:text-white">
          {{ prod.preco | currency:'BRL':'symbol':'1.2-2' }}
        </span>
        <button
          class="bg-white-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-[15px] px-2 py-1 text-center light:bg-blue-600 light:hover:bg-blue-700 light:focus:ring-blue-800 bordas mr-2">
          Adicionar ao carrinho
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Componente de paginação -->
<app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)">
</app-pagination>